# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Bones.iml
# Datasource local storage ignored files
/../../../../../../:\New Folder\Bones\.idea\.idea.Bones\.idea/dataSources/
/dataSources.local.xml
